    <style>
    
        :root {
            --dark-beige: #d1b399;
            --light-beige: #e8c9ae;
            --deep-brown: #523e2d;
            --button-color: #ffffff;
        }

        body {
            margin: 0;
            padding: 0;
            background-image: url('images/page-background.png');
            background-size: cover;       
            background-repeat: no-repeat; 
            background-position: center;
            color: var(--deep-brown);
            font-family: "Metamorphous", serif;
            font-weight: 400;
            font-style: normal;
            min-height: 100vh;
        }

        .container {
            text-align: center;
            width: 90%;
            margin: 0 auto;
            max-width: 1200px;
        }
        .header-banner {
             width: 100%;
             padding: 20px 0;
             background-color: rgba(252, 250, 249, 0.74);
             text-align: center;
          border-radius: 8px; 
        }
        h1 {
            font-size: 2rem;
            margin-bottom: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        .graphic-area {
            width: 100%;
            max-width: 1200px;
            aspect-ratio: 16 / 9;
            margin: 40px auto;
            background-color: var(--light-blue);
            border-radius: 8px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            border: 1px solid rgba(255,255,255,0.1);
        }

        .graphic-area img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .action-box {
            position: absolute;
            width: 40%;
            max-width: 350px;
            padding: 20px;
            background-color: #523e2d;
            border: 2px solid var(--button-color);
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            z-index: 10;
        }

        .btn {
            color: #523e2d;
            text-decoration: none;
            padding: 12px 20px;
            border-radius: 4px;
            font-weight: bold;
            transition: all 0.3s ease;
            text-transform: uppercase;
            font-size: 0.9rem;
        }


        .btn-preview {
            background-color: #ffffff;
            color: #523e2d;
        }

        .btn-preview:hover {
            background-color: rgb(212, 191, 170);
        }
        
        .preview-mobile { display: none; }

        .btn-download {
            background-color: #ffffff;
            color: #523e2d;
        }

        .btn-download:hover {
            background-color: rgb(212, 191, 170);
        }

        p.footer-text {
            margin-top: 20px;
            font-size: 1rem;
            color: #523e2d
        }

        @media (max-width: 768px) {
            .graphic-area {
                width: 100vw;         
                height: 100vw;         
                max-width: none; 
            }

            .graphic-area img {
                width: 100%;
                height: 300%;     
                object-fit: cover;
                object-position: center; 
            }

            .action-box {
                width: 70%;             
                max-width: none;
                padding: 15px;
            }

            .preview-desktop {
                display: none;
            }

            .preview-mobile {
                display: inline-block;
            }

            h2 {
                font-size: 1rem;        
            }

            p.footer-text {
            font-size: 0.8rem;
            }
        }
    </style>